.input__container {
    position: relative;
}

.input__container__name {
    position: relative;
    display: flex;
    flex-basis: 47%;
}

.errorClass {
    text-align: left;
    color: red;
    font-size: 12px;
    position: absolute;
    top: -14px;
}

.input__generic {
    width: 480px;
  height: 45px;
  border-radius: 5px;
  border: none;
  background-color: #2a273a;
  font-family: AzoSans;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #74727e;
  padding-left: 25px;
  margin-top: 2px;
}

.input__email {
    composes: input__generic;
    width: 480px;
    margin-right: 20px;
}

.input__name {
    composes: input__generic;
    width: 180px;
  
}

@media screen and (max-width: 1024px) {
    .input__email {
        width: 304px;
    }
}

@media screen and (max-width: 710px) {
    .input__container {
        margin: 10px auto;
        width: 100%;
    }
    .input__container__name {
        width: 50%;
    }
    .input__generic {
        font-size: 14px
    }
    .input__email {
        width: 92%;
    }
    .input__name {
        width: 100%;
    }
}