
@font-face {
    font-family: 'ElaineD02';
    src: local('ElaineD02'), url(./fonts/Elaine_D02/Elaine_D02.woff) format('woff');
  }

  @font-face {
    font-family: 'AzoSans';
    src: local('AzoSans'), url(./fonts/Azo-Sans/Azo-Sans.woff) format('woff');
  }
  @font-face {
    font-family: 'AzoSans-bold';
    src: local('AzoSans-bold'), url(./fonts/Azo-Sans-Bold/Azo-Sans-Bold.woff) format('woff');
  }

.footer {
    background-color: #110f23;
    padding: 40px;
    display: flex;
    flex-direction: row;
    flex-flow: row;
    flex-wrap: wrap;
    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
}

.task {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.title {
    font-family: ElaineD02;
    font-size: 80px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.64;
  letter-spacing: normal;
  text-align: left;
  color: #b6fdbf;
  align-self: center;
}

.task__title {
    font-family: AzoSans-bold;
    font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #94aebf;
  padding-bottom: 20px;
}

.fields__container {
    display: flex;
    flex-direction: row;
    flex-flow: row;
    flex-wrap: wrap;
}

.legal {
    width: 380px;
    font-family: AzoSans;
    font-size: 12px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: left;
  color: #888888;
  padding: 10px 0;
}

.legal__checkbox {
    float: left;
    margin-right: 10px;
}
.legal__copy {
   
}